<center><h1><%= Titlecase(@get_details[:name]) %></h1></center>

<p>
   <strong>Age: </strong> <%= @get_details[:age] %><br><br>
   <strong>Designation :</strong> <%= @get_details[:designation] %><br><br>
   <strong>Joining Date:</strong> <%= @get_details[:date_of_joining] %><br><br>
</p>
